.App {
  /* height: 100%; */
  width: 100%;
  max-width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333333;
}

.home {
  /* height: 100%; */
  width: 100%;
}

.ThreeD {
  height: 100vh;
  width: 100%;
}

h1 {
  margin: 0;
  padding: 0;
  text-align: center;
}
